body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;

}

p {
    text-align: justify;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 150px;
    /* padding-bottom: 200px; */
}

.half-width {
    width: 50%;
    padding-left: 5%;

}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    /* background-color: orange; */
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;

}

.top-banner {
    background-image: url(images/bg.PNG);
    background-repeat: no-repeat;
    background-size: cover;

}